# Dependencies
node_modules/

# Environment & secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
logs/
*.log

# Build output / caches
dist/
build/
out/
.out/
coverage/
.cache/
.tmp/
tmp/

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Vercel local config
.vercel/
